/* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('/src/containers/PressStart2P.woff'), format('embedded-opentype'),
}

h1 {
    font-family: 'Press Start 2P';
    font-weight: 200;
    color: aqua;
    text-shadow: 3px 2px 1px rgba(255, 0, 0, 0.49);
}